/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: "Inter";
  font-style: normal;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  color: #0a093d;
}

h1 {
  font-size: 56px;
  line-height: 66px;
}

h2 {
  font-size: 36px;
  line-height: 48px;
}

h3 {
  font-size: 36px;
  line-height: 36px;
}

h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #217bf4;
}

p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #656464;
}

header,
section,
footer {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  width: 1440px;
}

input[type="button"],
button {
  transition: color, background-color 0.3s ease-out;
}

.information-card,
.our-archievement__human-img,
.human-card,
.menu__subscribe-form {
  transition: box-shadow, border 0.3s ease-out;
}

/*--------------------*/

.header {
  width: 100%;
  background: linear-gradient(311.76deg, #d4e7fe -15.24%, #ffffff 78.85%);
}

.header__container {
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  z-index: 10;
}

.nav__content {
  display: flex;
  align-items: center;
  width: 1440px;
  height: 90px;
}

.nav__logo {
  margin: 8px 0 0 135px;
}

.nav__menu {
  justify-content: space-between;
  margin-left: 72px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 306px;
  height: 14px;
}

.nav__item {
  display: inline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 90px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  color: black;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #656464;
  transition: color 0.25s ease-out;
}

.nav__link:hover,
.about-us__link:hover {
  color: #217bf4;
}

.nav__link-home {
  font-weight: 600;
  color: #2b2b39;
}

.arrow {
  display: inline-block;
  transform: rotate(90deg);
}

.nav__search {
  display: flex;
  width: 105px;
  height: 32px;
  margin-left: auto;
  padding-top: 7px;
  border-bottom: 1px solid #e5e5e5;
}

.nav__search-button {
  margin-right: 10px;
  background-color: #0000;
}

.nav__search-input {
  width: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #686868;
  background-color: #0000;
}

.nav__login-button {
  width: 123px;
  height: 50px;
  margin: 0 135px 0 42px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #fff;
  background: #217bf4;
  border-radius: 14px;
}

.nav__login-button:hover,
.our-archievement__discover-me-button:hover {
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
  background: #0e0d53;
}

.header__container {
  height: 656px;
  margin-top: 90px;
}

.header__information {
  width: 515px;
  height: 366px;
  margin-top: 125px;
}

.header__netbook-community-button {
  width: 177px;
  height: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #217bf4;
  background: #217bf410;
  border-radius: 8px;
}

.header__title-text {
  width: 515px;
  height: 132px;
  margin-top: 20px;
}

.header__content-text {
  width: 491px;
  height: 56px;
  margin-top: 18px;
  font-size: 18px;
}

.header__button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #217bf4ff;
  background-color: #0000;
  box-sizing: border-box;
  border: 1px solid #217bf4;
  border-radius: 14px;
}

.header__button:hover,
.header__netbook-community-button:hover {
  color: #fff;
  background: #217bf4;
  box-shadow: 0px 7px 22px -6px rgba(33, 123, 244, 0.34);
}

.header__about-more-button {
  width: 162px;
  height: 62px;
  margin: 42px 15px 0 0;
}

.header__invite-friend-button {
  width: 167px;
  height: 62px;
}

.header__people-img {
  margin: 24px 0 0 10px;
}

.about-us__container {
  justify-content: space-between;
  height: 576px;
  margin-top: 96px;
}

.about-us__information {
  width: 406px;
  height: 346px;
  margin: 96.53px 0 0 135px;
}

.about-us__title-text {
  margin-top: 10px;
}

.about-us__content-text {
  margin-top: 16px;
}

.about-us__links {
  margin-top: 36px;
}

.about-us__item {
  margin-bottom: 16px;
}

.about-us__link {
  margin-left: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  color: #171648;
  transition: color 0.25s ease-out;
}

.about-us__media {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  width: 564px;
  height: 508px;
  margin: 32px 135px 0 0;
}

.about-us__video {
  width: 270px;
  height: 368px;
  margin-top: 70px;
  border-radius: 14px;
}

.about-us__man-img {
  margin-left: 26px;
  border-radius: 14px;
}

.about-us__lan-img {
  margin: 32px 0 0 26px;
  border-radius: 14px;
}

.our-archievement__container {
  flex-direction: row;
  align-items: center;
  height: 490px;
  margin-top: 21px;
}

.information-card {
  width: 336px;
  height: 340px;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 14px;
}

.information-card:hover {
  box-shadow: 0px 26px 49px rgba(146, 165, 184, 0.14);
  border: 1px solid #0000;
}

.information-card__title {
  display: flex;
  align-items: center;
  height: 28px;
  margin: 42px 0 0 44px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #0a093d;
}

.information-card__img {
  margin-right: 10px;
}

.information-card__describe {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 24px;
  margin: 33px 0 0 44px;
}

.information-card__describe-text {
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.02em;
}

.information-card__content-text {
  width: 274px;
  height: 78px;
  margin: 40px 0 0 44px;
  line-height: 26px;
  color: #8c8c8c;
}

.information-card__link {
  display: block;
  height: 16px;
  margin: 40px 0 0 45px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.our-archievement__rating {
  margin-left: 135px;
}

.our-archievement__human-img {
  position: relative;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 12px;
}

.our-archievement__human-img:hover {
  box-shadow: -5px 4px 14px rgba(151, 151, 151, 0.28);
  z-index: 2;
}

.our-archievement__center-human {
  right: 6px;
}

.our-archievement__right-human {
  right: 12px;
}

.our-archievement__join-link {
  width: 175px;
  color: #217bf4;
}

.our-archievement__join-link,
.our-archievement__join-arrow {
  transition: filter 0.3s ease-out;
}

.our-archievement__join-link:hover,
.our-archievement__join-arrow:hover {
  filter: invert(6%) sepia(100%) saturate(3811%) hue-rotate(242deg)
    brightness(37%) contrast(103%);
}

.our-archievement__awards {
  margin-left: 24px;
}

.our-achievement__awards-describe-text {
  margin-left: 16px;
  font-weight: 400;
}

.our-archievement__github-cat {
  border-radius: 12px;
}

.our-archievement__go-to-awards-link {
  width: 124px;
  color: #4a4a56;
}

.our-archievement__go-to-awards-arrow,
.our-archievement__go-to-awards-link {
  transition: filter 0.3s ease-out;
}

.our-archievement__go-to-awards-arrow:hover,
.our-archievement__go-to-awards-link:hover {
  filter: invert(35%) sepia(52%) saturate(3080%) hue-rotate(203deg)
    brightness(99%) contrast(93%);
}

.our-archievement__information {
  width: 381px;
  height: 322px;
  margin-left: 93px;
}

.our-archievement__title-text {
  margin-top: 10px;
}

.our-archievement__content-text {
  margin-top: 18px;
}

.our-archievement__discover-me-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 58px;
  margin-top: 38px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ffffff;
  background: #217bf4;
  border-radius: 14px;
}

.our-archievement__discover-me-button-arrow {
  margin-left: 18px;
}

.features {
  background: linear-gradient(
    0deg,
    rgba(241, 246, 253, 0) 1.63%,
    #f1f6fd 20.5%,
    #f1f6fd 58.57%,
    #ffffff 100%
  );
}

.features__container {
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
  height: 976px;
}

.features__information {
  width: 1440px;
  margin-top: 60px;
  text-align: center;
}

.features__title-text {
  margin-top: 9px;
}

.features__content-text {
  width: 421px;
  margin: 19px auto 0 auto;
}

.features__contact-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 1088px;
  height: 634px;
  margin-top: 64px;
}

.contact-card {
  display: flex;
  width: 522px;
  height: 182px;
  background-color: #fff;
  border-radius: 14px;
  transition: box-shadow 0.3s ease-out;
}

.contact-card:hover {
  box-shadow: 14px 22px 52px -12px rgba(127, 127, 127, 0.13);
}

.contact-card__img {
  width: 66px;
  height: 66px;
  margin: 40px 0 0 40px;
  border-radius: 24px;
}

.contact-card__img-members,
.contact-card__img-custom-module {
  box-shadow: 0px 10px 22px -2px rgba(109, 171, 255, 0.36);
}
.contact-card__img-groups,
.contact-card__img-list-build {
  box-shadow: 0px 8px 22px -2px rgba(248, 87, 94, 0.3);
}

.contact-card__img-forum,
.contact-card__img-list-scroll {
  box-shadow: 0px 10px 22px -2px rgba(250, 186, 84, 0.3);
}

.contact-card__content-text {
  margin: 46px 0 0 36px;
}

.contact-card__contact-name {
  width: 315px;
  height: 26px;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #2f2c4a;
}

.contact-card__describe-text {
  width: 315px;
  height: 78px;
  margin-top: 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #656464;
}

.our-team__container {
  flex-direction: column;
  align-items: center;
  height: 776px;
  margin-top: 47px;
}

.our-team__information {
  margin-top: 84px;
  text-align: center;
}

.our-team__title-text {
  margin-top: 9px;
}

.our-team__content-text {
  width: 454px;
  margin: 18px auto 0 auto;
}

.switcher {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 474px;
  height: 72px;
  background: #217cf410;
  border-radius: 14px;
}

.switcher__button {
  width: 150px;
  height: 56px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #2f2c4a;
  opacity: 0.8;
  background: #0000;
  border-radius: 14px;
}

.switcher__button:hover {
  font-weight: 600;
}

.switcher__active-button {
  font-weight: 600;
  color: #ffffff;
  background: #217bf4;
  transition: box-shadow 0.3s ease-out;
}

.switcher__active-button:hover {
  box-shadow: 0px 7px 22px -6px rgba(0, 72, 168, 0.34);
}

.our-team__switcher {
  margin-top: 38px;
}

.our-team__cards {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 1170px;
  height: 316px;
  margin-top: 44px;
}

.human-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 270px;
  height: 316px;
  background: #ffffff;
  border-radius: 14px;
  border: 1px solid #e5e5e5;
}

.human-card:hover {
  box-shadow: 0px 34px 68px rgba(116, 115, 128, 0.1);
  border: 1px solid #0000;
}

.human-card__img {
  margin-top: 30px;
}

.human-card__name {
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
  color: #2f2c4a;
}

.human-card__link {
  margin-top: 12px;
  font-size: 16px;
  line-height: 16px;
}

.cta {
  height: 560px;
  margin-top: 46px;
  background: #e5f0fd;
}

.cta__container {
  justify-content: space-between;
}

.cta__information {
  width: 351px;
  margin: 122px 0 0 135px;
}

.cta__title-text {
  margin-top: 9px;
  line-height: 52px;
}

.cta__content-text {
  width: 341px;
  margin: 18px 0 36px 0;
  line-height: 26px;
}

.cta__app-store-img {
  border-radius: 6px;
}

.cta__app-store-img:hover {
  filter: drop-shadow(0px 0px 22px rgba(178, 188, 208, 0.21));
}

.cta__play-store-link {
  margin-left: 15px;
}

.cta__media {
  position: relative;
  width: 440px;
  margin: 44px 160px 0 0;
}

.cta__vector-lines {
  right: 0px;
}

.cta__mobile {
  position: absolute;
  right: 56px;
  bottom: 0px;
  border-radius: 50px 50px 0 0;
  z-index: 1;
}

.cta__mobile {
  transition: box-shadow 0.3s ease-out;
}

.cta__mobile:hover {
  box-shadow: 0px -20px 50px rgba(44, 44, 44, 0.2);
}

.cta__red-ellipse {
  bottom: 81px;
}

.cta__blue-ellipse {
  bottom: 0px;
}

.cta__vector-lines,
.cta__red-ellipse,
.cta__blue-ellipse {
  position: absolute;
  opacity: 0.8;
  transition: opacity 0.3s ease-out;
}

.cta__vector-lines:hover,
.cta__red-ellipse:hover,
.cta__blue-ellipse:hover {
  opacity: 1;
}

.blog__container {
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 671px;
  margin-top: 96px;
}

.blog__information {
  margin-top: 34px;
  text-align: center;
}

.blog__title-text {
  margin-top: 9px;
}

.blog__news-blogs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1170px;
  height: 460px;
  margin-top: 80px;
}

.news-blog {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
  height: 460px;
}

.news-blog__line {
  width: 39px;
  height: 0px;
  margin: 44px 0 0 14px;
  border: 2px solid #ffaf2e;
}

.news-blog__title {
  width: 273px;
  height: 64px;
  margin: 24px 0 0 14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  color: #2f2c4a;
}

.news-blog__continue-link {
  margin: 24px 0 0 67px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #656464;
}

.news-blog__continue-link,
.news-blog__continue-arrow {
  transition: filter 0.3s ease;
}

.news-blog__continue-link:hover,
.news-blog__continue-arrow:hover {
  filter: invert(35%) sepia(52%) saturate(3080%) hue-rotate(203deg)
    brightness(99%) contrast(93%);
}

.union {
  position: absolute;
  z-index: -1;
}

.blog__left-union {
  left: 78px;
  top: 150px;
}

.blog__right-union {
  right: 31px;
  top: 271px;
}

.menu {
  margin-top: 96px;
  background: #2b2b39;
}

.menu__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 389px;
}

.footer {
  background: #20202d;
}

.footer__container {
  height: 96px;
}

.menu__links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 668px;
  height: 226px;
  margin: 78px 0 0 135px;
}

.menu__block {
  display: flex;
  flex-direction: column;
}

.menu__title {
  margin-bottom: 22px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
}

.menu__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0.0125em;
  color: #e7e7e7;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__resources {
  margin-left: 66px;
}

.menu__community {
  margin-left: 98px;
}

.menu__main-links {
  margin-left: 98px;
}

.menu__subscribe {
  display: flex;
  flex-direction: column;
  width: 339px;
  height: 218px;
  margin: 74px 135px 0 0;
}

.menu__subscribe-title {
  width: 179px;
  height: 64px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
}

.menu__subscribe-text {
  width: 299px;
  height: 56px;
  margin-top: 18px;
  color: #e7e7e7;
}

.menu__subscribe-form {
  display: flex;
  align-items: center;
  width: 339px;
  height: 48px;
  margin-top: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.85);
  border-radius: 12px;
}

.menu__subscribe-input {
  width: 163px;
  height: 12px;
  margin: 0 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.0125em;
  color: #717179;
  background: #0000;
}

.menu__subscribe-button {
  width: 126px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #2b2b39;
  background: #ffffff;
  border-radius: 12px;
}

.menu__subscribe-form-hover {
  border: 1px solid #217bf4;
}

.menu__subscribe-button:hover {
  color: #fff;
  background: #217bf4;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 135px;
}

.footer__name {
  width: 161px;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  color: #f6f6f6;
}

.footer__logo {
  margin-left: 15px;
}

.footer__social-networks {
  display: flex;
  justify-content: space-between;
  width: 168px;
  height: 36px;
}

.social-network-icon circle {
  transition: fill 0.3s;
}

.social-network-icon:hover circle {
  fill: #217bf4;
}
